{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 160,
    "tabWidth": 4,
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"]
}
